@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  /* Warna Utama: Biru khas aplikasi modern */
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;

  /* Menambahkan border-radius kustom bergaya Foxpath */
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
  --radius-4xl: 2rem;
}

/* Mengatur gaya dasar untuk seluruh aplikasi */
@layer base {
  body {
    @apply bg-slate-50 text-slate-800 antialiased font-sans;
  }
  
  /* Hilangkan outline default yang jelek saat input diklik */
  input:focus, button:focus, a:focus {
    @apply outline-none;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 20px;
}